<img src="~/@ViewData["Color"]-250x250.png" srcset="/@ViewData["Color"]-250x250.png 250w, /@(ViewData["Color"]).png 1600w" alt="Cell image" />

<div class="note">
    @ViewData["Note"].ToString()
</div>
